{% extends "main/base.html" %}
{% block header %}
    <h1>主题列表.</h1>
{% endblock %}

{% block content %}
    <ul>
    {% for topic in  topics %}
        <li>
            <h3>
                <a href="{% url 'main:topic' topic.id %}">{{ topic }}</a>
                <small>
                    【<a href="{% url 'main:edit_topic' topic.id %}">编辑</a>】
                    【<a href="{% url 'main:delete_topic' topic.id %}">删除</a>】
                </small>
            </h3>
        </li>
        {% empty %}
        <li>没有主题</li>
    {% endfor %}
    </ul>
    <h3>
        <a href="{% url 'main:new_topic' %}">新增主题</a>
    </h3>
{% endblock %}